<!--  -->
{% extends 'base.html' %}

<!--  -->
{% block title %}
<!--  -->
    <title>authorization</title>
{% endblock %}

<!--  -->
{% block content %}
<!--  -->
    <h1>Authorization</h1>

    <form method="post">
        <input type="text" name="username" placeholder="input your user name:">
        <input type="text" name= "email" placeholder="input your email:">
        <input type="password" name="password" placeholder="input password">
        <input type="text" name="name" placeholder="input your name">
        <input type="text" name="surname" placeholder="input your surname">

        <button type="submit">submit</button>
    </form>



{% endblock %}